<div class="row g-5 mb-5">
  <div class="col-lg-9 mx-auto">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Job Market Paper</h3>
    {% assign pubs = site.data.publications.featured %}
    {% for item in pubs %}
      <p class="mb-1">
        <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.name }}</a>
        {% if item.slides_url %} ·
          <a href="{{ item.slides_url }}" target="_blank" rel="noopener">Slides</a>
        {% endif %}
      </p>

      {% if item.abstract %}
        <div class="mt-3 pub-abstract">
          {{ item.abstract | markdownify }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
